.Card {
  display: flex;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.Cards {
  margin: 94px 0;
  gap: 30px;
}
.Card--antenna {
  padding-left: 100px;
}
.Card__header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}

.Card__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--description-color);
}
