.main__header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  display: block;
  color: var(--main-color);
}
.secondary__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
