.header__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: var(--logo-color);
}
.footer__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: var(--main-color);
}
.logo--blue {
  color: var(--blue-color);
  text-decoration: none;
}
