.social-links__list {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 206px;
  height: 44px;
  margin: auto;
  margin-top: 16px;
  padding-bottom: 30px;
}
.social-links__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin-top: 16px;
  margin-bottom: 16px;
  fill: #afb1b8;
  &:hover,
  &:focus {
    background-color: var(--blue-color);
    cursor: pointer;
    fill: var(--main-color);
  }
}

.social-links__item {
  display: flex;
}
.social-links__list {
  gap: 10px;
}
.social-links__wrapper {
  width: 206px;
  margin-left: 70px;
}
.social-links__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.social-links__icon--footer {
  background: rgba(255, 255, 255, 0.1);
}
